<div>
    <button class="btn btn-primary" (click)="onIncrement()">
        Increment
    </button>&nbsp;
    <button class="btn btn-warning" (click)="onDecrement()">
        Decrement
    </button>&nbsp;
    <button class="btn btn-info" (click)="onReset()">
        Reset
    </button>
</div>
<div>
    <label>Using Ngrx</label>
</div>
<div>
    <button class="btn btn-primary" (click)="onIncrementStore()">
        Increment
    </button>&nbsp;
    <button class="btn btn-warning" (click)="onDecrementStore()">
        Decrement
    </button>&nbsp;
    <button class="btn btn-info" (click)="onResetStore()">
        Reset
    </button>
</div>
